datasets/
runs/
checkpoints/
models/
models.zip
demo_output/
Demo/
ptlflow_logs/
test_results/
test_results_carla/
test_results_real/
utilities/
ACVNet/
core/test/

site/
.mplconfig/
docs_pado/
README_pado.md

__pycache__/
core/__pycache__/
test/__pycache__/
tools/__pycache__/
docs/__pycache__/

*.ipynb
*.pyc
*.pyo
*.pyd

.DS_Store
